<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Prediction</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }
    </style>
</head>
<body>
    <h2>Prediction Result</h2>

    <!-- 입력 폼 -->
    <form id="predict-form">
        <label for="data">Enter Data (YYYY-MM-DD HH:MM:SS):</label><br>
        <textarea id="data" name="data" rows="4" cols="50"></textarea><br>
        <button type="submit">Predict</button>
    </form>

    <!-- 결과 표시 -->
    <h3>총 시간 (Router 1): <span id="result-router1"></span></h3> <!-- Router 1 결과 표시 -->
    <h3>총 시간 (Router 2): <span id="result-router2"></span></h3> <!-- Router 2 결과 표시 -->

    <script>
        async function postData(url = '', data = {}) {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            return await response.json();
        }

        document.getElementById("predict-form").addEventListener("submit", async function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const data = {
                data: formData.get("data")
            };

            // 병렬로 두 개의 요청 보내기
            const response1 = postData('/predict_router1', data);
            const response2 = postData('/predict_router2', data);

            const results = await Promise.all([response1, response2]);

            // 결과 표시
            document.getElementById("result-router1").textContent = results[0]['result-router1']; // Router 1 결과 설정
            document.getElementById("result-router2").textContent = results[1]['result-router2']; // Router 2 결과 설정
        });
    </script>
</body>
</html>
